@import url('https://fonts.googleapis.com/css?family=Anton|Buenard:400,700');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

*::after,
*::before {
	box-sizing: border-box;
}
body{
    --color-text: #000;
	--color-bg: #ececec;
	/*--color-link: #000;*/
/*	--color-link-hover: #000;
	--color-info: #000;*/
	font-family: 'Anton', serif;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.cv{
    display:flex;
}

.cvDiv{
    flex-grow: 1;
    width: 300px;
    line-height: 32px;
    text-align: center;


}
.cvDiv h1{
    font-size: 50px;
    line-height: 90px;
}
.cvDiv--pattern {width:200px;
    height: 200px;
    padding-top: 10px;
}

.cvheading{
    background: #0c0c0c;
    color: #ffffff;
}

.cvHeadingBg{
  color: #ffffff;
  background: url("/images/headingbg.png") no-repeat center;
  background-size: 200px 80px;
}
/*.cvheading h1:before{
    background:linear-gradient(45deg,#fc5c7d,#fff,#fc5c7d);
}*/
.cvMedia{
    background: #ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    -webkit-transition: opacity 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    -moz-transition: opacity 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
     -ms-transition: opacity 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
      -o-transition: opacity 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
         transition: opacity 2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.cvMedia:hover{
    background:linear-gradient(45deg,rgba(139, 13, 13, 0.338),#fff,rgba(139, 13, 13, 0.338));
    zoom: 0;
    filter: alpha(opacity=50);
    opacity: 0.2;
  }
                                
 #stripes10 {
    background-image: repeating-linear-gradient(145deg, #000000, #ececec 1px, #ececec 14px, #000000 15px);
 }

 .cvDiv--foto1{
     margin-top: 20px;
     margin-left: 20px;
     -webkit-filter: opacity(1.2);
     filter: opacity(1.2);
 }
 .cvDiv--foto1:hover{
    -webkit-filter: sepia(100%) saturate(8);
  filter: sepia(100%) contrast(200%) hue-rotate(300deg) brightness(150%);
}
 .cvDiv--name{
    width: 180px;
    height: 70px;
    text-align: center;
    border: 9px solid #000000;
   /* -webkit-transition: -webkit-transform 2s; /* Safari */
    /*transition: transform 2s;*/
    transform: rotate(-5deg);
    animation-name: rotate;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count:2;
    animation-direction: alternate;
    transform-origin: 50% 0%;
    animation-timing-function: ease-in-out;
 }
 @keyframes rotate {
    0% {
      transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-20deg);
      }
    100% {
      transform: rotate(40deg);
    }
  }
 .cvDiv--name:hover{
   /* -webkit-transform: rotate(10deg); /* Safari */
    /*transform: rotate(10deg);
    -webkit-transform: rotate(-10deg); /* Safari */
    /*transform: rotate(-10deg);*/
 }
 .cvDiv p{
    /*background: rgba(139, 13, 13, 0.338);*/
    display: inline; 
 }
.stripe-4 {
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
 .cv__margin{
     margin-top: 100px;
 }
 footer{
     font-size: 10px;

 }

/* bar chart */

.cv__bar{
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.cv_skill__css {
  border-left: 20px solid rgb(87, 87, 238);
  height: 400px;
}
.cv_skill--html {
  border-left: 20px solid rgb(71, 202, 71);
  height: 350px;
}
.cv_skill--php {
  border-left: 20px solid rgb(243, 70, 70);
  height: 300px;
}
.cv_skill--js {
  border-left: 20px solid rgb(235, 174, 60);
  height: 380px;
}
.cv__percentagepan{
  color: white;
  display: block;
  text-align:center;
  width: 40px;
}
.cv_skill--html > span{
  border: 1px solid green;
   background: green;
}
.cv_skill--php > span{
  border: 1px solid red;
   background: red;
}
.cv_skill--js > span{
  border: 1px solid orange;
   background: orange;

}
.vcv_skill--css > span{
  border: 1px solid blue;
  background: blue;
}


